@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;600;700&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  font-family: "Lato", system-ui;
}

p {
  font-family: "Open Sans", system-ui;
  margin-bottom: 10px;
}

a {
  font-family: "Lato", system-ui;
}

span {
  font-family: "Open Sans", system-ui;
  font-size: 0.9rem;
}

label {
  font-family: "Open Sans", system-ui;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #1A1830;
  color: #FFFFFF;
  width: 100%;
  height: 80px;
}
header .navContainer {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navContainer .logo {
  display: flex;
  justify-content: start;
  align-items: center;
}
header .navContainer .logo .imageContainer {
  width: 50px;
  height: 50px;
}
header .navContainer .logo .imageContainer img {
  width: 100%;
}
header .navContainer .logo .logoContent {
  color: #FFFFFF;
  margin-left: 10px;
}
header .navContainer .menuContainer ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .navContainer .menuContainer ul li {
  list-style: none;
  margin-left: 30px;
}
header .navContainer .menuContainer ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

.HeroContent {
  background-color: #1A1830;
  color: #FFFFFF;
  width: 100%;
  height: auto;
}
.HeroContent .Hero {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2.5fr 2fr 0.5fr;
}
.HeroContent .Hero .heroContent {
  grid-column: 1;
  margin-top: 100px;
}
.HeroContent .Hero .heroContent h1 {
  color: #FFFFFF;
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  text-align: center;
  color: #FFFFFF;
}
.HeroContent .Hero .heroContent p {
  font-family: "Lato", system-ui;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 10px;
}
.HeroContent .Hero .heroContent a {
  margin: 50px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #01FFC3;
  text-decoration: none;
  border-radius: 10px;
}
.HeroContent .Hero .heroContent a img {
  width: 50px;
  margin-right: 10px;
}
.HeroContent .Hero .heroContent a p {
  color: #1A1830;
}
.HeroContent .Hero .heroImageContainer {
  height: 100%;
  border-bottom: 0;
  position: relative;
}
.HeroContent .Hero .heroImageContainer img {
  position: absolute;
  bottom: 0;
  height: 100%;
}
.HeroContent .Hero .socialMedia {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
.HeroContent .Hero .socialMedia ul li {
  list-style: none;
  margin-top: 15px;
}

main {
  width: 80%;
  margin: 0 auto;
}
main .title {
  margin-top: 100px;
  padding-bottom: 30px;
  text-align: center;
  color: #39B1FF;
  font-size: 2rem;
  border-bottom: 1px solid rgba(214, 214, 214, 0.631);
}
main .boxContainer {
  margin-top: 50px;
  box-shadow: 5px 5px 5px 5px rgba(214, 214, 214, 0.631);
  border-radius: 30px;
  padding: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
}
main .boxContainer .boxContent {
  width: 60%;
  height: auto;
}
main .boxContainer .boxContent h1 {
  font-size: 40px;
  font-weight: 600;
  color: #1A1830;
}
main .boxContainer .boxContent h2 {
  font-size: 30px;
  font-weight: 600px;
  color: #818181;
}
main .boxContainer .boxContent h3 {
  font-size: 25px;
  font-weight: 600px;
  color: #818181;
}
main .boxContainer .boxContent a {
  text-decoration: none;
  color: #818181;
}
main .boxContainer .boxImageContainer {
  width: 40%;
}
main .boxContainer .boxImageContainer img {
  width: 100%;
}
main .contact {
  width: 100%;
  margin: auto;
  text-align: center;
}
main .contact .formContact {
  display: inline-block;
  width: 90%;
  height: auto;
  margin: 50px auto;
  padding: 50px;
  border-radius: 30px;
  text-align: left;
  box-shadow: 5px 5px 5px 5px rgba(214, 214, 214, 0.631);
}
main .contact .formContact label {
  margin-bottom: 20px;
}
main .contact .formContact input {
  width: 95%;
  height: 30px;
  margin: 10px 0 20px 0;
  padding: 0 20px;
  border-radius: 10px;
}
main .contact .formContact .formInputMessage {
  height: 100px;
}
main .contact .formContact .button {
  padding: 10px 50px;
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: #1A1830;
  border-radius: 20px;
  text-decoration: none;
}

.skills {
  display: block;
  background-color: #1A1830;
  width: 100%;
  height: auto;
  margin-top: 100px;
  text-align: center;
}
.skills h3 {
  padding-top: 100px;
  color: #01FFC3;
  text-align: center;
  font-size: 2rem;
}
.skills .skillsDivision {
  margin: 0 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
}
.skills .skillsDivision .skillsLeft {
  grid-column: 1;
  justify-content: left;
  display: grid;
  grid-template-rows: repetat(4, 1fr);
}
.skills .skillsDivision .imageContainer {
  grid-column: 2;
  width: 100%;
  height: auto;
}
.skills .skillsDivision .imageContainer img {
  margin-top: 50px;
  bottom: 0;
}
.skills .skillsDivision .skillsRight {
  grid-column: 3;
  justify-content: right;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.skills .skillsDivision .skillsRight p {
  text-align: center;
}

.skillName {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 50px;
  font-size: 1.3rem;
  background-color: #EBF7FF;
  color: #1A1830;
}

footer {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #1A1830;
  color: #FFFFFF;
}