header
    nav.navContainer
        .logo
            figure.imageContainer
                img(src="../assets/logo.svg" alt="Logo Oscar Palomino")
            .logoContent
                h1 Oscar Palomino
        .menuContainer
            ul
                li
                    a(href="#home") Inicio
                li
                    a(href="#projects") Proyectos
                li
                    a(href="#skills") Habilidades
                li
                    a(href="#contact") Contacto