header
    nav.navContainer
        .logo
        figure.imageContainer
            img(src="/" alt="Logo Oscar Palomino")
        .logoContent
            h1 Oscar Palomino
        .menuContainer
            ul
                li
                    a(href="#") Inicio
                li
                    a(href="#") Proyectos
                li
                    a(href="#") Habilidades
                li
                    a(href="#") Contacto