<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/main.css">
  <title>Oscar Palomino | Ingeniero Industrial - Data Scientist</title>
</head>
<body>
  <header>
    <nav class="navContainer">
      <div class="logo">
        <figure class="imageContainer"><img src="/" alt="Logo Oscar Palomino"></figure>
        <div class="logoContent">
          <h1>Oscar Palomino</h1>
        </div>
      </div>
      <div class="menuContainer">
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Proyectos</a></li>
          <li><a href="#">Habilidades</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <footer>
    <div class="credits">
      <h1>Designed with 💙 by Oscar Palomino</h1>
    </div>
  </footer>
</body>