<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/main.css">
  <title>Oscar Palomino | Ingeniero Industrial - Data Scientist</title>
</head>
<body>
  <header>
    <nav class="navContainer">
      <div class="logo">
        <figure class="imageContainer"><img src="../assets/logo.svg" alt="Logo Oscar Palomino"></figure>
        <div class="logoContent">
          <h1>Oscar Palomino</h1>
        </div>
      </div>
      <div class="menuContainer">
        <ul>
          <li><a href="#home">Inicio</a></li>
          <li><a href="#projects">Proyectos</a></li>
          <li><a href="#skills">Habilidades</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <footer>
    <h1>Designed with 💙 by Oscar Palomino</h1>
  </footer>
</body>