include globals.pug
doctype html
head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="css/main.css")
    title Oscar Palomino | Ingeniero Industrial - Data Scientist
body
    include header.pug
    block content
    include footer.pug