.HeroContent {
    background-color: $darkBlue;
    color: $ligthColor;
    width: 100%;
    height: auto;
    .Hero {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2.5fr 2fr .5fr;
        .heroContent {
            grid-column: 1;
            margin-top: 100px;
            h1 {
                color: $ligthColor;
                font-family: $fontMainTitle;
                font-size: 3rem;
                text-align: center;
                color: $ligthColor;
            }
            p {
                font-family: $fontTitle;
                font-size: 1.5rem;
                text-align: left;
                margin-top: 10px;
            }
            a {
                margin: 50px 0;
                width: fit-content;
                padding: 10px;
                display: flex;
                justify-content: left;
                align-items: center;
                background-color: $lightBlue;
                text-decoration: none;
                border-radius: 10px;
                img {
                    width: 50px;
                    margin-right: 10px;
                }
                p {
                    color: $darkBlue;
                }
            }
        }
        .heroImageContainer {
            height: 100%;
            border-bottom: 0;
            position: relative;
            img {
                position: absolute;
                bottom: 0;
                height: 100%;
            }
        }
        .socialMedia {
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            ul {
                li {
                    list-style: none;
                    margin-top: 15px;
                }
            }
        }
    }

}