main {
    width: 80%;
    margin: 0 auto;
    .title {
        margin-top: 100px;
        padding-bottom: 30px;
        text-align: center;
        color: $lightBlueTitles;
        font-size: 2rem;
        border-bottom: 1px solid rgba(214, 214, 214, 0.631);
    }
    .boxContainer {
        margin-top: 50px;
        box-shadow: 5px 5px 5px 5px rgba(214, 214, 214, 0.631);
        border-radius: 30px;
        padding: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        .boxContent {
            width: 60%;
            height: auto;
            h1 {
                font-size: 40px;
                font-weight: 600;
                color: $darkBlue;
            }
            h2 {
                font-size: 30px;
                font-weight: 600px;
                color: $darkGray;
            }
            h3 {
                font-size: 25px;
                font-weight: 600px;
                color: $darkGray;
            }
            a {
                text-decoration: none;
                color: $darkGray;
            }
        }
        .boxImageContainer {
            width: 40%;
            img {
                width: 100%;
            }
        }

    }

    .contact {
        width: 100%;
        margin: auto;
        text-align: center;
        .formContact {
            display: inline-block;
            width: 90%;
            height: auto;
            margin: 50px auto;
            padding: 50px;
            border-radius: 30px;
            text-align: left;
            box-shadow: 5px 5px 5px 5px rgba(214, 214, 214, 0.631);
            label {
                margin-bottom: 20px;
            }
            input {
                width: 95%;
                height: 30px;
                margin: 10px 0 20px 0;
                padding: 0 20px;
                border-radius: 10px;
            }
            .formInputMessage {
                height: 100px;
            }
            .button {
                padding: 10px 50px;
                margin-top: 20px;
                color: $ligthColor;
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                background-color: $darkBlue;
                border-radius: 20px;
                text-decoration: none;
            }
        }
    }
}


.skills {
    display: block;
    background-color: $darkBlue;
    width: 100%;
    height: auto;
    margin-top: 100px;
    text-align: center;
    h3 {
        padding-top: 100px;
        color: $lightBlue;
        text-align: center;
        font-size: 2rem;
    }
    .skillsDivision {
        margin: 0 100px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        justify-content: center;
        .skillsLeft {
            grid-column: 1;
            justify-content: left;
            display: grid;
            grid-template-rows: repetat(4, 1fr);
        }
        .imageContainer{
            grid-column: 2;
            width: 100%;
            height: auto;
            img {
                margin-top: 50px;
                bottom: 0;
            }
        }
        .skillsRight {
            grid-column: 3;
            justify-content: right;
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            
            p {
                text-align: center;
            }
        }
    }
}

.skillName {
    margin: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 50px;
    font-size: 1.3rem;
    background-color: $backgroundClear;
    color: $darkBlue;
}
